version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./src/assets/uploads:/app/src/assets/uploads
      - ./src/assets/gifs:/app/src/assets/gifs
      - ./src/assets/data/bets.json:/app/src/assets/data/bets.json
      - ./src/assets/data/quotes.json:/app/src/assets/data/quotes.json
      - ./src/assets/data/dota-nicks.json:/app/src/assets/data/dota-nicks.json
    env_file:
      - .env
    command: ["npm", "run", "start"]
    restart: on-failure